body {
    margin: 0 auto;
    max-width: 1100px;
}

/* header */
header {
    width: 100%;
    height: 100px;
    background-image: url('../img/pattern.png');
    background-color: rgb(78,160,255);
    background-size: 320px;
}

/* titolo e immagini */
#logo {
    width: 180px;
    padding-top: 30px;
}

h1 {
    margin: 0;
    padding-top: 30px;
    font-size: 39px
}

h2 {
    margin: 0;
    padding-bottom: 30px;
    font-size: 18px;
    color: rgb(128, 128, 128);
}

/* testo */
.paragrafo {
    font-size: 12px;
    margin: 0;
}

/* lista */
ul {
    padding: 16px;
}

/* tabella */
thead {
    background-color: rgb(32,169,229);
    color: white; 
}

.row {
    background-color: rgb(177,229,242);
}